div {
display: inline-block;
border: 1px solid black;
width: 200px;
height: 200px;
}

.vermelho{
    background-color: red;
}

.azul {
    background-color: rgb(8, 104, 160);
}

.verde {
    background-color: green;
}

.amarelo {
    background-color: yellow;
}

#destaque {
    border: 3px solid black;
}